<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Ook Rahmawan">
    <meta name="description" content="Ook Rahmawan">
	<meta name="theme-color" content="#e9585d">
    <title>{{ title }}</title>
	<link rel="apple-touch-icon" href="./assets/logo/apple-touch-icon.png" >
	<link rel="shortcut icon" href="./assets/logo/favicon.ico" >
    <link rel="stylesheet" href="./styles/homepage.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}">
	
  </head>
  <body>
<main>
    <div class="container">
      {{ content }}
	  <ul class="intro">
		<li><p><s>Pahlawan Super</s> | Bankir | Lagi Suka Jam Tangan<p></li>
		<li><p>mail(at)ook.web.id<p></li>
	  <ul>
      <h2 class="category">Posts</h2>
      <ul class="posts">
        {% for post in collections.posts reversed %}
        <li class="post">
          <span class="post-title">
            {% if post.data.externalLink %}
            <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
            {% else %}
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% endif %}
          </span>
          <span class="post-date">
            {{ post.date | date: '%b %Y' | downcase }}
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
</main>
  </body>
</html>
